USE [master]
GO
/****** Object:  Database [examSys] ******/
CREATE DATABASE [examSys]
 CONTAINMENT = NONE
ALTER DATABASE [examSys] SET COMPATIBILITY_LEVEL = 120
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [examSys].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [examSys]
GO
/****** Object:  Table [dbo].[admin]   ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[admin](
	[loginId] [varchar](50) NOT NULL,
	[loginPwd] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[loginId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[board]   ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[board](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[difficulty]   ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[difficulty](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[examPaper]     ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[examPaper](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](100) NULL,
	[createDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[examPaperParts]   ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[examPaperParts](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[partName] [varchar](50) NOT NULL,
	[quesCount] [int] NULL,
	[disOrder] [int] NULL,
	[examPaper_id] [int] NULL,
	[grade_id] [int] NULL,
	[difficulty_id] [int] NULL,
	[board_id] [int] NULL,
	[questiontype_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[examPaperPartsQuestion]     ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[examPaperPartsQuestion](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[part_id] [int] NULL,
	[question_id] [int] NULL,
	[disOrder] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[grade]      ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[grade](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[options]     ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[options](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[opt] [varchar](200) NULL,
	[question_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[question]    ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[question](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [text] NULL,
	[questionType_id] [int] NULL,
	[board_id] [int] NULL,
	[difficulty_id] [int] NULL,
	[grade_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[questionType]     ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[questionType](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[admin] ([loginId], [loginPwd]) VALUES (N'admin', N'admin')
SET IDENTITY_INSERT [dbo].[board] ON 

INSERT [dbo].[board] ([id], [name]) VALUES (3, N'几何')
INSERT [dbo].[board] ([id], [name]) VALUES (4, N'代数')
INSERT [dbo].[board] ([id], [name]) VALUES (5, N'测试版块')
SET IDENTITY_INSERT [dbo].[board] OFF
SET IDENTITY_INSERT [dbo].[difficulty] ON 

INSERT [dbo].[difficulty] ([id], [name]) VALUES (1, N'简单')
INSERT [dbo].[difficulty] ([id], [name]) VALUES (2, N'较难')
INSERT [dbo].[difficulty] ([id], [name]) VALUES (4, N'很难')
SET IDENTITY_INSERT [dbo].[difficulty] OFF
SET IDENTITY_INSERT [dbo].[examPaper] ON 

INSERT [dbo].[examPaper] ([id], [name], [createDate]) VALUES (13, N'按揭房垃圾分类', CAST(N'2020-04-22 00:56:45.643' AS DateTime))
INSERT [dbo].[examPaper] ([id], [name], [createDate]) VALUES (14, N'测试试卷', CAST(N'2020-04-22 01:13:21.050' AS DateTime))
SET IDENTITY_INSERT [dbo].[examPaper] OFF
SET IDENTITY_INSERT [dbo].[examPaperParts] ON 

INSERT [dbo].[examPaperParts] ([id], [partName], [quesCount], [disOrder], [examPaper_id], [grade_id], [difficulty_id], [board_id], [questiontype_id]) VALUES (10, N'选择题', 1, 0, 13, -1, -1, -1, 1)
INSERT [dbo].[examPaperParts] ([id], [partName], [quesCount], [disOrder], [examPaper_id], [grade_id], [difficulty_id], [board_id], [questiontype_id]) VALUES (11, N'填空题', 2, 0, 13, -1, -1, -1, 4)
INSERT [dbo].[examPaperParts] ([id], [partName], [quesCount], [disOrder], [examPaper_id], [grade_id], [difficulty_id], [board_id], [questiontype_id]) VALUES (12, N'选择题', 2, 0, 14, -1, -1, -1, 1)
SET IDENTITY_INSERT [dbo].[examPaperParts] OFF
SET IDENTITY_INSERT [dbo].[examPaperPartsQuestion] ON 

INSERT [dbo].[examPaperPartsQuestion] ([id], [part_id], [question_id], [disOrder]) VALUES (3, 10, 11, 1)
INSERT [dbo].[examPaperPartsQuestion] ([id], [part_id], [question_id], [disOrder]) VALUES (4, 11, 8, 1)
INSERT [dbo].[examPaperPartsQuestion] ([id], [part_id], [question_id], [disOrder]) VALUES (5, 11, 9, 1)
SET IDENTITY_INSERT [dbo].[examPaperPartsQuestion] OFF
SET IDENTITY_INSERT [dbo].[grade] ON 

INSERT [dbo].[grade] ([id], [name]) VALUES (1, N'八年级')
INSERT [dbo].[grade] ([id], [name]) VALUES (4, N'七年级')
INSERT [dbo].[grade] ([id], [name]) VALUES (5, N'组合')
SET IDENTITY_INSERT [dbo].[grade] OFF
SET IDENTITY_INSERT [dbo].[options] ON 

INSERT [dbo].[options] ([id], [opt], [question_id]) VALUES (5, N'1231', 11)
INSERT [dbo].[options] ([id], [opt], [question_id]) VALUES (6, N'13123', 11)
INSERT [dbo].[options] ([id], [opt], [question_id]) VALUES (7, N'13123', 11)
SET IDENTITY_INSERT [dbo].[options] OFF
SET IDENTITY_INSERT [dbo].[question] ON 

INSERT [dbo].[question] ([id], [name], [questionType_id], [board_id], [difficulty_id], [grade_id]) VALUES (2, N'就是为了测试的', 2, 3, 2, 4)
INSERT [dbo].[question] ([id], [name], [questionType_id], [board_id], [difficulty_id], [grade_id]) VALUES (8, N'<p>adsadadadads</p>', 4, 3, 1, 1)
SET IDENTITY_INSERT [dbo].[question] OFF
SET IDENTITY_INSERT [dbo].[questionType] ON 

INSERT [dbo].[questionType] ([id], [name]) VALUES (1, N'选择题')
INSERT [dbo].[questionType] ([id], [name]) VALUES (2, N'简答题')
INSERT [dbo].[questionType] ([id], [name]) VALUES (4, N'填空题')
SET IDENTITY_INSERT [dbo].[questionType] OFF
ALTER TABLE [dbo].[examPaperParts]  WITH CHECK ADD  CONSTRAINT [fk_exampaper_id] FOREIGN KEY([examPaper_id])
REFERENCES [dbo].[examPaper] ([id])
GO
ALTER TABLE [dbo].[examPaperParts] CHECK CONSTRAINT [fk_exampaper_id]
GO
ALTER TABLE [dbo].[examPaperPartsQuestion]  WITH CHECK ADD FOREIGN KEY([part_id])
REFERENCES [dbo].[examPaperParts] ([id])
GO
ALTER TABLE [dbo].[examPaperPartsQuestion]  WITH CHECK ADD FOREIGN KEY([question_id])
REFERENCES [dbo].[question] ([id])
GO
ALTER TABLE [dbo].[options]  WITH CHECK ADD FOREIGN KEY([question_id])
REFERENCES [dbo].[question] ([id])
GO
ALTER TABLE [dbo].[question]  WITH CHECK ADD FOREIGN KEY([board_id])
REFERENCES [dbo].[board] ([id])
GO
ALTER TABLE [dbo].[question]  WITH CHECK ADD FOREIGN KEY([difficulty_id])
REFERENCES [dbo].[difficulty] ([id])
GO
ALTER TABLE [dbo].[question]  WITH CHECK ADD FOREIGN KEY([grade_id])
REFERENCES [dbo].[grade] ([id])
GO
ALTER TABLE [dbo].[question]  WITH CHECK ADD FOREIGN KEY([questionType_id])
REFERENCES [dbo].[questionType] ([id])
GO
USE [master]
GO
